body, form, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, header, menu, footer, section, iframe, video, article, button,img {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
}

body {
    min-width: 1140px;
    font-size: 12px;
    font-family: Microsoft Yahei, Avenir, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
    background: #ffffff;
    color: #666;
    position: relative;
}

nav {
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    z-index: 9;
    height: 100px;
    line-height: 100px;
    opacity: 0.8;
}

nav img {
    width: 216px;
    height: 45px;
    position: absolute;
    top: 20px;
    left: 150px;
}

nav ul.right {
    float: right;
    position: relative;
    right: 150px;
    height: 98px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-left: 50px;
}

nav ul li a {
    display: block;
    font-size: 16px;
    color: #fff;
    opacity: 0.8;
}

nav ul li a:hover {
    opacity: 1;
}
.navbar{
    margin-bottom: 0px;
}
.navbar-inverse {
    background-color: #222;
    border-color: #080808;
    border-radius: 0;
}
.img-float{
    width: 1346px;
}
.img-float img{
    width: 24.36%;
    height: 210px;
    margin:5px 4px;
    float: left;
}